# flyctl launch added from part2-notes-frontend/.gitignore
# Logs
part2-notes-frontend/**/logs
part2-notes-frontend/**/*.log
part2-notes-frontend/**/npm-debug.log*
part2-notes-frontend/**/yarn-debug.log*
part2-notes-frontend/**/yarn-error.log*
part2-notes-frontend/**/pnpm-debug.log*
part2-notes-frontend/**/lerna-debug.log*

part2-notes-frontend/**/node_modules
part2-notes-frontend/**/dist
part2-notes-frontend/**/dist-ssr
part2-notes-frontend/**/*.local

# Editor directories and files
part2-notes-frontend/**/.vscode/*
!part2-notes-frontend/**/.vscode/extensions.json
part2-notes-frontend/**/.idea
part2-notes-frontend/**/.DS_Store
part2-notes-frontend/**/*.suo
part2-notes-frontend/**/*.ntvs*
part2-notes-frontend/**/*.njsproj
part2-notes-frontend/**/*.sln
part2-notes-frontend/**/*.sw?
part2-notes-frontend/**/db.json
fly.toml
